<!DOCTYPE html>
<html>
  <head>
    <title>Fundastic Crowdfunder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Fundastic Crowdfunder", "/", class: "navbar-brand", id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>


          <%# if logged_in? %>
            <li><%#= link_to "Log Out", session_path('current'), method: :delete %></li>
            <%#= else %>
            <li><%#= link_to "Log In", new_session_path %></li>
            <li><%#=# link_to "Sign up", new_user_path %></li>
            <%# end %>



        </ul>
      </nav>
    </div>
  </header>

  <% if flash.any? %>
    <% flash.each do |key, value| %>
    <p class = "<%= key %>">
      <%= value %>
    </p>
    <% end %>
    <% end %>



  <div class="container">
    <%= yield %>
  </div>


  <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">©2016 Fundastic Inc.</p>
  </div>


  </body>

</html>
